<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imaginariumfestival.android"
    android:versionCode="4"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.imaginariumfestival.android.MainMenuActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.imaginariumfestival.android.artists.ArtistsActivity"
            android:label="@string/artists_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.imaginariumfestival.android.artists.ArtistActivity"
            android:label="@string/artist_activity"
            android:parentActivityName="com.imaginariumfestival.android.artists.ArtistsActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.imaginariumfestival.android.infos.InfosActivity"
            android:label="@string/infos_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="com.imaginariumfestival.android.infos.InfoActivity"
            android:label="@string/info_activity"
            android:parentActivityName="com.imaginariumfestival.android.infos.InfosActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.imaginariumfestival.android.programmation.ProgrammationActivity"
            android:label="@string/programmation_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
         <activity
            android:name="com.imaginariumfestival.android.map.MapActivity"
            android:label="@string/map_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop" >
        </activity>
        
        <activity
            android:name="com.imaginariumfestival.android.photos.PhotosTakingActivity"
            android:label="@string/photos_taking_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.imaginariumfestival.android.photos.PhotosValidatingActivity"
            android:label="@string/photos_validating_activity"
            android:parentActivityName="com.imaginariumfestival.android.photos.PhotosTakingActivity"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="com.imaginariumfestival.android.partners.PartnersActivity"
            android:label="@string/partner_activity"
            android:parentActivityName="com.imaginariumfestival.android.MainMenuActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>